body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

fieldset{
    color:rgb(0, 65, 65)
}

a{
    font-size: 30px;
    color: black;
}

h1{
    font-size: 40PX;
    color:rgb(4, 68, 68)
}
/* Media query para telas menores */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    nav {
        flex-direction: column;
    }
}

